<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger House</title>
    <link rel="stylesheet" href="public/CSS/cart.css">
</head>

<body>
    <div class="navbar">
        <a class="logo" href="">BH</a>
        <a class="navbar-element" href="/home">Home</a>
        <a class="navbar-element" href="/menu">Menu</a>
        <a class="navbar-element" href="/cart">Cart</a>
        <a class="navbar-element" href="/account">Account</a>
    </div>

    <div id="box"></div>

    <div class="checkout">
        <a id="checkout" href="/thankyou" onclick="clearCart()">Checkout</a>
    </div>


    <div id="empty"></div>
    <script src="public/JavaScript/cart.js"></script>
</body>

</html>