<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Burger House</title>
  <link rel="stylesheet" href="public/CSS/home.css">
</head>

<body>
  <div class="navbar">
    <a class="logo" href="">BH</a>
    <a class="navbar-element" href="/home">Home</a>
    <a class="navbar-element" href="/resturantmenu">Menu</a>
  </div>
  <% if (messages.error) { %>
    <%= messages.error %>
      <% } %>
        <form action="/login" method="POST">
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button type="submit">Login</button><br>
          <a href="/register">Creat New Account</a>
        </form>

  <div class="background">
    <h1>Welcome To<span>Burger House</span></h1>
  </div>
</body>