<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger House</title>
    <link rel="stylesheet" href="public/CSS/user menu.css">
</head>

<body>
    <div class="navbar">
        <a class="logo" href="">BH</a>
        <a class="navbar-element" href="/home">Home</a>
        <a class="navbar-element" href="/menu">Menu</a>
        <a class="navbar-element" href="/cart">Cart</a>
        <a class="navbar-element" href="/account">Account</a>
    </div>

    <h2 class="first-section">Beef Burger Sandwitches</h2>

    <div class="item">
        <div class="number">
            <button id="decrement-item-1" disabled>-</button>
            <h1 id="count-item-1">1</h1>
            <button id="increment-item-1">+</button>
        </div>
        <img src="public/images/Classic Beef Burger.png" alt="item img">
        <p id="name-of-item-1">Classic Beef Burger</p>
        <br>
        <p>Price: <span id="price-of-item-1">30</span>EGP</p>
        <button class="add-to-cart" id="add-item-1">Add to cart</button>
    </div>

    <div class="item">
        <div class="number">
            <button id="decrement-item-2" disabled>-</button>
            <h1 id="count-item-2">1</h1>
            <button id="increment-item-2">+</button>
        </div>
        <img src="public/images/Cheesy Beef Burger.png" alt="item img">
        <p id="name-of-item-2">Cheesy Beef Burger</p>
        <br>
        <p>Price: <span id="price-of-item-2">50</span>EGP</p>
        <button class="add-to-cart" id="add-item-2">Add to cart</button>
    </div>

    <div class="last-item">
        <div class="number">
            <button id="decrement-item-3" disabled>-</button>
            <h1 id="count-item-3">1</h1>
            <button id="increment-item-3">+</button>
        </div>
        <img src="public/images/Double Cheesy Beef Burger.png" alt="item img" id="double-cheese-burger">
        <p id="name-of-item-3">Double Cheesy Beef Burger</p>
        <br>
        <p>Price: <span id="price-of-item-3">80</span>EGP</p>
        <button class="add-to-cart" id="add-item-3">Add to cart</button>
    </div>

    <h2>Chicken Burger Sandwitches</h2>

    <div class="item">
        <div class="number">
            <button id="decrement-item-4" disabled>-</button>
            <h1 id="count-item-4">1</h1>
            <button id="increment-item-4">+</button>
        </div>
        <img src="public/images/Classic Chicken Burger.png" alt="item img">
        <p id="name-of-item-4">Classic Chicken Burger</p>
        <br>
        <p>Price: <span id="price-of-item-4">30</span>EGP</p>
        <button class="add-to-cart" id="add-item-4">Add to cart</button>
    </div>

    <div class="last-item">
        <div class="number">
            <button id="decrement-item-5" disabled>-</button>
            <h1 id="count-item-5">1</h1>
            <button id="increment-item-5">+</button>
        </div>
        <img src="public/images/Cheesy Chicken Burger.png" alt="item img" id="cheesy-chicken-burger">
        <p id="name-of-item-5">Cheesy Chicken Burger</p>
        <br>
        <p>Price: <span id="price-of-item-5">50</span>EGP</p>
        <button class="add-to-cart" id="add-item-5">Add to cart</button>
    </div>

    <h2>Side Items</h2>

    <div class="item">
        <div class="number">
            <button id="decrement-item-6" disabled>-</button>
            <h1 id="count-item-6">1</h1>
            <button id="increment-item-6">+</button>
        </div>
        <img src="public/images/Chicken Wings.png" alt="item img" id="chicken-wings">
        <p id="name-of-item-6">Chicken Wings</p>
        <br>
        <p>Price: <span id="price-of-item-6">30</span>EGP</p>
        <button class="add-to-cart" id="add-item-6">Add to cart</button>
    </div>

    <div class="item">
        <div class="number">
            <button id="decrement-item-7" disabled>-</button>
            <h1 id="count-item-7">1</h1>
            <button id="increment-item-7">+</button>
        </div>
        <img src="public/images/Mozzarella Sticks.png" alt="item img" id="mozzarella-sticks">
        <p id="name-of-item-7">Mozzarella Sticks</p>
        <br>
        <p>Price: <span id="price-of-item-7">25</span>EGP</p>
        <button class="add-to-cart" id="add-item-7">Add to cart</button>
    </div>

    <div class="item">
        <div class="number">
            <button id="decrement-item-8" disabled>-</button>
            <h1 id="count-item-8">1</h1>
            <button id="increment-item-8">+</button>
        </div>
        <img src="public/images/Onion Rings.png" alt="item img">
        <p id="name-of-item-8">Onion Rings</p>
        <br>
        <p>Price: <span id="price-of-item-8">25</span>EGP</p>
        <button class="add-to-cart" id="add-item-8">Add to cart</button>
    </div>

    <div class="last-item">
        <div class="number">
            <button id="decrement-item-9" disabled>-</button>
            <h1 id="count-item-9">1</h1>
            <button id="increment-item-9">+</button>
        </div>
        <img src="public/images/Fries.png" alt="item img" id="fries">
        <p id="name-of-item-9">Fries</p>
        <br>
        <p>Price: <span id="price-of-item-9">20</span>EGP</p>
        <button class="add-to-cart" id="add-item-9">Add to cart</button>
    </div>

    <h2>Beverages</h2>

    <div class="item">
        <div class="number">
            <button id="decrement-item-10" disabled>-</button>
            <h1 id="count-item-10">1</h1>
            <button id="increment-item-10">+</button>
        </div>
        <img src="public/images/Bottle of water.png" alt="item img" id="bottle-of-water">
        <p id="name-of-item-10">Bottle of water</p>
        <br>
        <p>Price: <span id="price-of-item-10">10</span>EGP</p>
        <button class="add-to-cart" id="add-item-10">Add to cart</button>
    </div>

    <div class="item">
        <div class="number">
            <button id="decrement-item-11" disabled>-</button>
            <h1 id="count-item-11">1</h1>
            <button id="increment-item-11">+</button>
        </div>
        <img src="public/images/Pepsi.png" alt="item img" id="pepsi">
        <p id="name-of-item-11">Pepsi</p>
        <br>
        <p>Price: <span id="price-of-item-11">10</span>EGP</p>
        <button class="add-to-cart" id="add-item-11">Add to cart</button>
    </div>

    <div class="item">
        <div class="number">
            <button id="decrement-item-12" disabled>-</button>
            <h1 id="count-item-12">1</h1>
            <button id="increment-item-12">+</button>
        </div>
        <img src="public/images/Pepsi diet.png" alt="item img" id="pepsi-diet">
        <p id="name-of-item-12">Pepsi diet</p>
        <br>
        <p>Price: <span id="price-of-item-12">10</span>EGP</p>
        <button class="add-to-cart" id="add-item-12">Add to cart</button>
    </div>

    <div class="item">
        <div class="number">
            <button id="decrement-item-13" disabled>-</button>
            <h1 id="count-item-13">1</h1>
            <button id="increment-item-13">+</button>
        </div>
        <img src="public/images/Sprite.png" alt="item img" id="sprite">
        <p id="name-of-item-13">Sprite</p>
        <br>
        <p>Price: <span id="price-of-item-13">10</span>EGP</p>
        <button class="add-to-cart" id="add-item-13">Add to cart</button>
    </div>

    <div class="last-item">
        <div class="number">
            <button id="decrement-item-14" disabled>-</button>
            <h1 id="count-item-14">1</h1>
            <button id="increment-item-14">+</button>
        </div>
        <img src="public/images/Fanta.png" alt="item img" id="fanta">
        <p id="name-of-item-14">Fanta</p>
        <br>
        <p>Price: <span id="price-of-item-14">10</span>EGP</p>
        <button class="add-to-cart" id="add-item-14">Add to cart</button>
    </div>
    <script src="public/JavaScript/menu.js"></script>
</body>

</html>