<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger House</title>
    <link rel="stylesheet" href="public/CSS/menu.css">
</head>

<body>
    <div class="navbar">
        <a class="logo" href="">BH</a>
        <a class="navbar-element" href="/home">Home</a>
        <a class="navbar-element" href="/menu">Menu</a>
    </div>

    <p class="sign-in"><a href="/login">Sign in</a> to order</p>
    <h2>Beef Burger Sandwitches</h2>

    <div class="item">
        <img src="public/images/Classic Beef Burger.png" alt="item img">
        <p>Classic Beef Burger</p>
        <br>
        <p>Price: 30EGP</p>
    </div>

    <div class="item">
        <img src="public/images/Cheesy Beef Burger.png" alt="item img">
        <p>Cheesy Beef Burger</p>
        <br>
        <p>Price: 50EGP</p>
    </div>

    <div class="last-item">
        <img src="public/images/Double Cheesy Beef Burger.png" alt="item img" id="double-cheese-burger">
        <p>Double Cheesy Beef Burger</p>
        <br>
        <p>Price: 80EGP</p>
    </div>

    <h2>Chicken Burger Sandwitches</h2>

    <div class="item">
        <img src="public/images/Classic Chicken Burger.png" alt="item img">
        <p>Classic Chicken Burger</p>
        <br>
        <p>Price: 30EGP</p>
    </div>

    <div class="last-item">
        <img src="public/images/Cheesy Chicken Burger.png" alt="item img" id="cheesy-chicken-burger">
        <p>Cheesy Chicken Burger</p>
        <br>
        <p>Price: 30EGP</p>
    </div>

    <h2>Side Items</h2>

    <div class="item">
        <img src="public/images/Chicken Wings.png" alt="item img" id="chicken-wings">
        <p>Chicken Wings</p>
        <br>
        <p>Price: 30EGP</p>
    </div>

    <div class="item">
        <img src="public/images/Mozzarella Sticks.png" alt="item img" id="mozzarella-sticks">
        <p>Mozzarella Sticks</p>
        <br>
        <p>Price: 25EGP</p>
    </div>

    <div class="item">
        <img src="public/images/Onion Rings.png" alt="item img">
        <p>Onion Rings</p>
        <br>
        <p>Price: 25EGP</p>
    </div>

    <div class="last-item">
        <img src="public/images/Fries.png" alt="item img" id="fries">
        <p>Fries</p>
        <br>
        <p>Price: 20EGP</p>
    </div>

    <h2>Beverages</h2>

    <div class="item">
        <img src="public/images/Bottle of water.png" alt="item img" id="bottle-of-water">
        <p>Bottle of water</p>
        <br>
        <p>Price: 10EGP</p>
    </div>

    <div class="item">
        <img src="public/images/Pepsi.png" alt="item img" id="pepsi">
        <p>Pepsi</p>
        <br>
        <p>Price: 10EGP</p>
    </div>

    <div class="item">
        <img src="public/images/Pepsi diet.png" alt="item img" id="pepsi-diet">
        <p>Pepsi diet</p>
        <br>
        <p>Price: 10EGP</p>
    </div>

    <div class="item">
        <img src="public/images/Sprite.png" alt="item img" id="sprite">
        <p>Sprite</p>
        <br>
        <p>Price: 10EGP</p>
    </div>

    <div class="last-item">
        <img src="public/images/Fanta.png" alt="item img" id="fanta">
        <p>Fanta</p>
        <br>
        <p>Price: 10EGP</p>
    </div>
</body>

</html>