<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger House</title>
    <link rel="stylesheet" href="public/CSS/user home.css">
</head>

<body>
    <div class="navbar">
        <a class="logo" href="">BH</a>
        <a class="navbar-element" href="/home">Home</a>
        <a class="navbar-element" href="/resturantmenu">Menu</a>
    </div>

    <div class="background">
        <h1>Welcome To<span>Burger House</span></h1>
    </div>
</body>

</html>