<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Burger House</title>
  <link rel="stylesheet" href="public/CSS/sign up.css">
</head>

<body>
  <div class="navbar">
    <a class="logo" href="">BH</a>
    <a class="navbar-element" href="/home">Home</a>
    <a class="navbar-element" href="/menu">Menu</a>
  </div>
  <% if (messages.error) { %>
    <%= messages.error %>
      <% } %>

  <form action="/register" method="POST">
    <h1>Create your account</h1>
    <div>
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="first_name" required>
    </div>
    <div>
      <label for="last_name">Last Name</label>
      <input type="text" id="last_name" name="last_name" required>
    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="address">Address</label>
      <input type="text" id="address" name="address" required>
    </div>
    <div>
      <label for="city">City</label>
      <input type="text" id="city" name="city" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" id="confirm">Register</button>
  </form>
</body>