@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: black;
    padding: 14.5px 0px;
    font-size: 0;
}

a {
    text-decoration: none;
}

.logo {
    padding: 8px;
    font-size: 26px;
    color: white;
    font-weight: bolder;
    border: 8px solid rgb(206, 85, 5);
}
.navbar-element {
    padding: 16px 20px;
    font-size: 26px;
    color: white;
}

.navbar-element:hover {
    background-color: rgb(83, 82, 82);
}

.background {
    min-height: 100vh;
    background: url("../images/Home background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 { 
    font-weight: lighter;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span {
    display: block;
    font-size: 125px;
}   